.ba{
    background-image: url(https://img.freepik.com/free-photo/closeup-woman-vr-glasses-float-neon-space-with-cables-attached-her-metaverse-avatar-concept_1217-3924.jpg?t=st=1740983253~exp=1740986853~hmac=80905324c874896a44b03337190499634f8de5584feee8543e9640186a33b637&w=1800);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
   
}



.bg{
    background-image: url(https://img.freepik.com/free-vector/abstract-banner-with-low-poly-plexus-network-communications-design_1048-12914.jpg?t=st=1740988148~exp=1740991748~hmac=746e680fff4cb94dbc10d8ed35d345430b32d329524d326a90b217430f1ba61e&w=1800);
    background-repeat: no-repeat;
    background-size: cover;

}




